services:
  db:
    image: postgres:18.0-trixie
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: brioche-registry
    ports:
      - "6543:5432"

volumes:
  db-data:
