services:
  db:
    image: docker.io/postgres:18.1-trixie
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: brioche-registry
    ports:
      - "6543:5432"

volumes:
  db-data:
